[user]
	name = Jeff Melville
	email = dev@\
jeffmelville.com
[core]
	autocrlf = input
    editor = vim
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[push]
	default = tracking
[alias]
	ctags = !.git/hooks/ctags
[init]
	templatedir = ~/.git_template
