/***************************************************************************//**
 * @brief      ${1:brief}
 *
 * @author     Jeffrey Melville <dev@jeffmelville.com>
 *
 * @date       Created ${2:date}
 *
 * @file
 * @copyright  Copyright &copy; 2013 Jeffrey Melville
 * @par License
 * ${3}
 ******************************************************************************/
${4}
